<!DOCTYPE html>
<html>
<head>
  <title> The Dankest Memes</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="index.css">
<style>
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
body {
    background: url("  http://www.mrwallpaper.com/wallpapers/toronto-skyline.jpg") no-repeat center center fixed; 
  margin:0;
    text-align:center;
    color:#0033cc;
    font-family: 'Oswald', sans-serif;
    background-color :white;

}
input[type="submit"] {
    font-family: 'Anton', sans-serif; 
    background-color: white;
    border: none;
    color: #0033cc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;

}

h1 {
  font-size:75px;

}

</style>
</head>
<body> 

  <div class="home-page">
    <div class="homepage-header">
      <h1> Dank Memes</h1>
      <form Method="Post" action="/results">
        <p><input type="submit" value="Click Here For Chronic Depression">
      </form>
      
    </div>
    
  </div>

</body>
</html>

